<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <title> Sketch 2 Shape - Danahive + Pinochet 6s198</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <script src= 'https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js'></script>  
        <script src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js' ></script>
        <script src= 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js'></script>
        <script src= 'https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js' ></script>
        <script src= '/static/modalF.js'></script>

        <style>
            .modal{
                   display: none; 
            }
        </style>


    </head>


    <body class='grey'>
        <div class= 'row'>
            <div class= 'col s12 m12 l12 center'>
            
                  <h1 class= 'white-text center' > Sketch2Shape </h1>  
            
            </div>            
        </div>

        <div class='row'>
            <div class="col s8 m6 l14 offset-s2 offset-m3 offset-l4 white z-depth-3"> 
                <form action="">
                    <!-- <div class='row'>
                            <div class="col s12 m12 l12">
                                <input type='text' class='center' placeholder="Nickname" required>

                            </div>                    
                    </div> -->

                    <!-- <div class='row'>
                        <div class="col s12 m12 l12 center">
                                <input type='color'>
                        </div>
                    </div> -->

                    <!-- <div class='row'>
                            <div class="col s12 m12 l12 center ">
                                <button type='submit' class="btn red m-open" m-open="canvas">Enter APP</button>
                            </div>
                    </div> -->
                </form>
            </div>
        </div>

        <div class="m-modal" m-modal='canvas'>
            <div class='m-body' id="canvas">
            </div>
        </div>
        <script type='text/javascript'> 
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            var users= [];
            var points =[];
            var myUser ={};

            var arrVoxels= [];

            var arrVals = []; //temp array for voxelvalues form python 

            $(document).ready(function(){
                $('form').on('submit', function(e){
                        e.preventDefault();

                        var name= $('input[type="text"]').val();
                        var color=$('input[type="color"]').val();

                        myUser.nombre =name;
                        myUser.color= color;
                        myUser.id= socket.id;

                        myUser.x = windowHeight/2;
                        myUser.y =windowWidth/2;

                        $('.m-open').modalF({color:"#333"});
                        $('button').trigger('click');

                        socket.emit('addUsuario', myUser);
                    });
                    
                    socket.on('executedGAN', function(data){
                     //users= data;
                     console.log(data);       
                });
            });

        // Using P5 funcitonality         
        //p5 functions
        function setup() {

            var myCanvas= createCanvas(windowWidth,windowHeight,WEBGL);
            myCanvas.parent("canvas");

            angle = 0;
            cubeSize= 15;
            // cubeHeight= 15;
            // cubeDepth= 15;

            cubecountX= 25;
            cubecountY= 25;
            cubecountZ= 25;

            button = createButton('GANify!');
            button.position(windowWidth/5,windowHeight/4);
            button.mousePressed(RunGan);

            //initialize VozelSpace with random values
            RandomVoxel()
        }

        function draw() {
            background('#333');
            // $.each(users, function(index, u){
            //     fill(u.color);
            //     text('hello', u.x, u.y);

            // });
            //adds the camera fucntion to the scene 

            let fov= PI/3;

            let camZ = (height/2.0) / tan(fov/2.0);
            perspective(fov, width/height,camZ/10.0, camZ*10.0);

            orbitControl();

            //add a directional light 
            directionalLight(255,255,255, 0,0,-0.5)

            rectMode(CENTER);
            translate(0,0,0);
  
            stroke(0.05);
            

            //push();

            for (let i=0;i<cubecountX;i++)
            {
                arrVoxels[i]= [];
                for (let j=0;j<cubecountY;j++)
                {
                    arrVoxels[i][j]= [];
                    for (let k=0;k<cubecountZ;k++)
                    {                    
                        arrVoxels[i][j][k]= new Voxel(i*cubeSize,j*cubeSize,k*cubeSize, cubeSize, arrVals[i][j][k]);   

                       

                    }
                }
            }

            for (let i=0;i<cubecountX;i++)
            {
                
                for (let j=0;j<cubecountY;j++)
                {
                   
                    for (let k=0;k<cubecountZ;k++)
                    {                    
                        if (arrVoxels[i][j][k].getRenderVal()==true)
                       {
                            push();
                            translate(i*cubeSize,j*cubeSize,k*cubeSize);
                            arrVoxels[i][j][k].display();
                            pop();
                       }              
                    }
                }
            }

            
            //pop();

            //angle +=0.03;
        }
        
        function RunGan(){
           var data ={
               d1:"java talking back to python", 
               d2:"pretty cool",
               d2:"oh yeah"
               }               
           socket.emit('ganify', data);  
        RandomVoxel();
        }
        
        function RandomVoxel(){ 

            // create 3D
            for (i = 0; i < cubecountX; i++) {
                arrVals[i]= [];
                for (j = 0; j < cubecountY; j++) {
                    arrVals[i][j]=[];
                    for (k = 0; k < cubecountY; k++)
                    {                        
                        if (Math.random() >0.75){
                            arrVals[i][j][k]=true;  
                        } else {
                            arrVals[i][j][k]=false;  
                        }               
                        // if (k%2 ==0){
                        //     arrVals[i][j][k]=false;  
                        // }  else{
                        //     arrVals[i][j][k]=true;  
                        // }
                    }
                }
            }

           
            console.log(arrVals);
             return arrVals;


        }    



        function windowResized(){

            resizeCanvas(windowWidth, windowHeight);
        }


        class Voxel{
            //constructor
            constructor(x,y,z,size, renderVal){
                this.x= x;
                this.y=y;
                this.z=z;
                this.size= size;
                this.renderVal= renderVal;
            }
            
            display()
            {
                //console.log("vlacaosdaisdi");
                //translate(0,0,0);
  
                stroke(0.05);
                //directionalLight(255,255,0, 0,0,-0.5)

                
                
                    specularMaterial(255,128,0);
                    
                    box(this.size);
                    
                
            }    

            getRenderVal(){

                return this.renderVal;
            }
           
        

        }
        
        </script>

    </body>
</html>